!!! 5
%html
  %head
    %title Collexion Newsletter
    %style
      :sass
        .section
          margin: 10px
        .section_header
          font-weight: 900
          margin: 5px
        .section_content
          margin: 5px
        .item
          margin-bottom: 5px
  %body
    =@body