

.section {
  margin: 10px;
}

.section_header {
  margin: 10px; 
  font-weight: 900; 
  font-size:20px; 
  font-family: 'Helvetica Nue', Helvetica, Arial, sans-serif;
}

.section_content {
  margin: 5px;
}

.item {
  margin: 10px;
  font-weight: 100;
}

.title {
  font-weight: 900;
}


