.nav
  %a{:href => "/events"} Events
  %a{:href => "/announcements"} Announcements
  %a{:href => "/hacks"} Hacks
  %a{:href => "/resources"} Resources
  %a{:href => "/locations"} Locations
  %a{:href => "/organizations"} Organizations